// Overview panels
// for the dash and workspace switcher
%overview_panel {
  background-color: #000000;
  border: none;
}

// OSD panels
%osd_panel {
  color: $osd_fg_color;
  background-color: #000000;
  border: none;
}

// Active workspace
.workspace-thumbnails {
  @extend %overview_panel;
  padding: $base_padding + 3px; //custom
}

// active workspace in the switcher
.ws-switcher-active-up,
.ws-switcher-active-down,
.ws-switcher-active-left,
.ws-switcher-active-right {
  height: 52px;
  background-color: #cccccc; // cutom
  border: none; // custom
  border-radius: $base_border_radius + 3px;
  color: $selected_fg_color;
}

// Dash floating label
.dash-label {
  background-color: #111111; // custom
  border-radius: 16px; // custom TODO: calculate radius
  border:none;
  box-shadow: none; //custom
  color: $osd_fg_color;
  padding: 6px 10px;
  text-align: center;
  -x-offset: $base_margin * 2; // distance from the dash edge
}

// Search entry

$search_entry_width: 320px;
$search_entry_height: 36px;

%search_entry,
.search-entry {
  width: $search_entry_width;
  padding: $base_padding+1 $base_padding+3;
  border-radius: $search_entry_height * 0.5; // half the height
  color: #dddddd; // custom
  background-color: transparentize(#fafafa,0.7); // custom
  border: none;

  StLabel.hint-text { // custom
    color: #dddddd;
  }

  &:hover {
    background-color: transparentize(#fafafa,0.2); // custom
    color: #212121; // custom
    StLabel.hint-text {
        color: #212121; // custom
    }
  }

  &:focus {
    border: none;
    padding: $base_padding+1 $base_padding+3; // 1px less to account for wider border
    color: #212121; // custom
    caret-color: #909090; // custom
    background-color: transparentize(#fafafa,0.1); // custom
    selection-background-color: transparentize(#000000,0.8); // custom
    box-shadow: none; // custom


    StLabel.hint-text { // custom
        color: #aaaaaa;
    }
  }

  .search-entry-icon {
    icon-size: $base_icon_size;
    padding: 0 4px;
    color: inherit;
  }
}


/* Search */

// search overview container
#searchResultsContent {
  max-width: 1024px;
  spacing: $base_margin * 2;
}

// search results sections "the boxes"
.search-section {
  // This should be equal to #searchResultsContent spacing
  spacing: $base_margin * 2;

  // separator
  .search-section-separator {
    // height: 1px;
    // background-color: $osd_outer_borders_color;
    height: 0;
    background-color: transparent;
  }
}

// content
.search-section-content {
  //background-color: #000000; // custom
  background-color: transparentize(#111111,0.2); // custom
  border-radius: $modal_radius+3;
  border: none; // custom
  box-shadow: 0 2px 4px 0 $shadow_color;
  text-shadow: 0 1px if($variant == 'light', rgba(255,255,255,0.2), rgba(0,0,0,0.2));
  color: $osd_fg_color;
  padding: $base_padding * 3;
  // This is the space between the provider icon and the results container
  spacing: $base_margin * 2;
}


/* App Grid */

$app_icon_size: 96px;
$app_icon_padding: 24px;

/* Frequent | All toggle */

// container
.app-view-controls {
  padding-bottom: 32px;
}

// buttons
.app-view-control {
  padding: 8px 32px;
  margin: 0 4px;

  &, &:hover, &:checked {
    @include button(undecorated);
    color: darken($osd_fg_color, 25%);
    border-radius: 32px; // custom
  }

  &:hover {
    color: $osd_fg_color;
    // box-shadow: inset 0 -2px darken($osd_fg_color, 25%); // custom
    background: transparentize(#909090,0.7); // custom
  }

  &:active {
    // box-shadow: inset 0 -2px $osd_fg_color; // custom
    border-radius: 32px; // custom
    background: transparentize(#909090,0.7); // custom
  }

  &:checked {
    color: $osd_fg_color;
    // box-shadow: inset 0 -2px $selected_bg_color; // custom
    background: transparentize(#111111,0.2); // custom
  }

  &:first-child {
    // border-right-width: 0; // custom
    // border-radius: 0; //custom
    border-radius: 32px; // custom
  }

  &:last-child {
    border-radius: 32px; // custom
  }
}

/* Window Picker */

$window_picker_spacing: $base_spacing * 2; // 16px
$window_picker_padding: $base_padding * 2; // 16px

$window_thumbnail_border_color:transparentize($selected_fg_color, 0.65);

$window_close_button_size: 24px;
$window_close_button_padding: 3px;


/* Window picker */

// Window titles
.window-caption {
  color: $osd_fg_color;
  background-color: #111111; // custom
  border: none; // custom
  border-radius: 32px; // custom
  padding: $base_padding $base_padding * 2;
  font-weight: bold;
  @include fontsize($base_font_size + 1);
}

/* Top Bar */
// a.k.a. the panel

$panel_corner_radius: $base_border_radius+1;
$panel_bg_color: #000;
$panel_fg_color: #ccc;
$panel_height: 1.86em;


#panel {
  background-color: $panel_bg_color;
  font-weight: bold;
  height: $panel_height;
  font-feature-settings: "tnum";

  // transparent panel on lock & login screens
  &.unlock-screen,
  &.login-screen {
    background-color: transparent;

    .panel-corner {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  // spacing between activities, app menu and such
  #panelLeft, #panelCenter {
    spacing: $base_spacing;
  }

  // the rounded outset corners
  .panel-corner {
    -panel-corner-radius: $panel_corner_radius;
    -panel-corner-background-color: $panel_bg_color;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;

    &:active, &:overview, &:focus {
      -panel-corner-border-color: #aaaaaa; // custom
    }
  }

  // panel menus
  .panel-button {
    font-weight: bold;
    color: $panel_fg_color;
    -natural-hpadding: $base_padding * 2;
    -minimum-hpadding: $base_padding;

    &:hover {
      color: lighten($panel_fg_color, 20%);
    }

    &:active, &:overview, &:focus, &:checked {
      color: lighten($panel_fg_color, 20%);
    }

    // status area icons
    .system-status-icon {
      icon-size: $base_icon_size;
      padding: $base_padding - 1px;
    }

    // app menu icon
    .app-menu-icon {
      margin-left: $base_margin;
      margin-right: $base_margin;
      -st-icon-style: symbolic;
      // dimensions of the icon are hardcoded
    }

    // lock & login screen styles
    .unlock-screen &,
    .login-screen & {
      color: lighten($fg_color, 10%);
      &:focus, &:hover, &:active { color: lighten($fg_color, 10%); }
    }
  }

  .panel-button {
    &:active, &:overview, &:focus, &:checked {
      // Trick due to St limitations. It needs a background to draw a box-shadow
      background-color: rgba(0, 0, 0, 0.01);
      box-shadow: inset 0 -2px 0 0 #aaaaaa; // custom
    }
  }

  .panel-button.clock-display {
    // Move highlight from .panel-button to .clock
    &:active, &:overview, &:focus, &:checked {
      box-shadow: none;

      .clock {
        background-color: rgba(0, 0, 0, 0.01);
        box-shadow: inset 0 -2px 0 0 #aaaaaa; // custom
      }
    }
  }

  .panel-status-indicators-box,
  .panel-status-menu-box {
    spacing: 2px;
  }

  // spacing between power icon and (optional) percentage label
  .power-status.panel-status-indicators-box {
    spacing: 0;
  }

  // indicator for active
  .screencast-indicator,
  .remote-access-indicator { color: $warning_color; }
}


// /* Top Bar */
// // a.k.a. the panel

// $panel_corner_radius: $base_border_radius+1;
// $panel_bg_color: #000;
// $panel_fg_color: #ccc;
// $panel_height: 1.86em;


// #panel {
//   background-color: $panel_bg_color;
//   font-weight: bold;
//   height: $panel_height;
//   font-feature-settings: "tnum";

//   // transparent panel on lock & login screens
//   &.unlock-screen,
//   &.login-screen {
//     background-color: transparent;

//     .panel-corner {
//       -panel-corner-radius: 0;
//       -panel-corner-background-color: transparent;
//       -panel-corner-border-color: transparent;
//     }
//   }

//   // spacing between activities, app menu and such
//   #panelLeft, #panelCenter {
//     spacing: $base_spacing;
//   }

//   // the rounded outset corners
//   .panel-corner {
//     -panel-corner-radius: $panel_corner_radius;
//     -panel-corner-background-color: $panel_bg_color;
//     -panel-corner-border-width: 0px; // custom
//     -panel-corner-border-color: transparent; // custom

//     &:active, &:overview, &:focus {
//       -panel-corner-border-color:  transparent; // custom
//     }
//   }

//   // panel menus
//   .panel-button {
//     font-weight: bold;
//     color: $panel_fg_color;
//     -natural-hpadding: $base_padding * 2;
//     -minimum-hpadding: $base_padding;

//     &:hover {
//       color: lighten($panel_fg_color, 20%);
//     }

//     &:active, &:overview, &:focus, &:checked {
//       color: lighten($panel_fg_color, 20%);
//     }

//     // status area icons
//     .system-status-icon {
//       icon-size: $base_icon_size;
//       padding: $base_padding - 1px;
//     }

//     // app menu icon
//     .app-menu-icon {
//       margin-left: $base_margin;
//       margin-right: $base_margin;
//       -st-icon-style: symbolic;
//       // dimensions of the icon are hardcoded
//     }

//     // lock & login screen styles
//     .unlock-screen &,
//     .login-screen & {
//       color: lighten($fg_color, 10%);
//       &:focus, &:hover, &:active { color: lighten($fg_color, 10%); }
//     }
//   }

//   .panel-button {
//     &:active, &:overview, &:focus, &:checked {
//       // Trick due to St limitations. It needs a background to draw a box-shadow
//       background-color: rgba(0, 0, 0, 0.01);
//       box-shadow: inset 0 2px 0 0 #aaaaaa; // custom
//     }
//   }

//   .panel-button.clock-display {
//     // Move highlight from .panel-button to .clock
//     &:active, &:overview, &:focus, &:checked {
//       box-shadow: none;

//       .clock {
//         background-color: rgba(0, 0, 0, 0.01);
//         box-shadow: inset 0 2px 0 0 #aaaaaa; // custom
//       }
//     }
//   }

//   .panel-status-indicators-box,
//   .panel-status-menu-box {
//     spacing: 2px;
//   }

//   // spacing between power icon and (optional) percentage label
//   .power-status.panel-status-indicators-box {
//     spacing: 0;
//   }

//   // indicator for active
//   .screencast-indicator,
//   .remote-access-indicator { color: $warning_color; }
// }
